@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;

}


.header {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    background-color: #f86c42;
    height: 600px;
    width: 98%;
    border-radius: 50px;
}
.header h1{
    margin-top: 30px;
}

.header form{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(22, 19, 19, 0.3);
    width: 700px;
    height: 380px;
    margin-left: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
select{
     
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type="text"],
        input[type="date"] {
            width: 80%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }
        .icon-dropdown-content a {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            text-decoration: none;
            color: #333;
        }

        .icon-dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .icon-dropdown-content a svg {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
button{
    background-color: #c2cac2;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}
button svg{
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: #f86c42;
}

.showcase {
    margin-top: 20px
}

.phone-image {
    max-width: 300px;
    height: 350px;
    float:right;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 10px;
}

.activities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
h3{
    text-align: center;
    color: #333;

}
.action{
    text-align: center;
    margin: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
}

ion-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.activity p {
    margin: 0;
    font-size: 14px;
    color: #333333;
}